<h1>Management Portal</h1>
<p>
  This is the home page of our Management Portal.

	<div class="reportselection">	
		<ul>
			<% if signed_in? %>
			<li><%= link_to "Sales Summary by Location - PS451", ps451_path %></li>
			<% end %>
		</ul>
	</div>
</p>

