<footer>
  <nav class="round">
    <ul>
      <li><a href="http://partner.rabeanco.com/">Partner Web Site</a></li>
      <li><a href="http://www.rabeanco.com/">Rabeanco.com</a></li>
    </ul>
  </nav>
</footer>

